nav {
  grid-area: nav;
  display: flex;
  justify-content: space-evenly;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    justify-content: space-evenly;
    display: flex;
}
  
nav li {
    margin: 15px;
}
  
nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3em;
}
  
nav a:hover {
    color: #ecf0f18f;
}
  
header {
    background-color: #000000;
    border: 4px #c11515 solid;
    color: #c11515;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 15fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "img con"
    ;
}

#container {
  grid-area: con;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header h1 {
    text-decoration: underline;
    letter-spacing: 4px;
    margin: 0;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    grid-area: h1;
}

.logga {
  height: 100px;
  width: auto;
}

.startsida {
    background: url('startsidabackgrund.jpg') no-repeat center center fixed;
    background-size: cover;
}

.intro {
  height: 80vh;
}

.huvuddel {
  height: 125vh;
  background-color: #ffffff;
}
